<integrations>
    <integration name="Kangaroorewards">
        <email>info@kangaroorewards.com</email>
        <endpoint_url>https://cbaf5a58.ngrok.io/pos/magento/endpoint</endpoint_url>
        <identity_link_url> https://cbaf5a58.ngrok.io/pos/magento/login</identity_link_url>
    </integration>
</integrations>
